.popup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup_content {
  width: 500px;
  height: 500px;
  padding: 20px;
  animation: slideIn 0.3s;
  // background: #cdcada;
  box-shadow: 0px 6.25407px 6.25407px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  .title_input,
  .add_task {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .add_button {
      height: fit-content;
      display: flex;
      align-items: center;
    }

    button {
      border: none;
      background-color: transparent;
    }
    button {
      width: 10%;
      color: var(--primary-text);
      cursor: pointer;
    }
    input {
      width: 90%;
      color: #000;
      font-size: 40px;
      font-weight: 500;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    h2 {
      font-size: 40px;
    }
  }
  .title_input {
    display: flex;
    justify-content: space-between;
    .buttons {
      width: 90px;
      display: flex;
      gap: 30px;
    }
  }

  hr {
    margin: 10px 0;
  }
  .add_task {
    margin-top: 20px;
    padding: 0 10px;
    input {
      font-size: 20px;
    }
  }
}

.popup_content_data {
  width: 850px;
  .tasks {
    display: flex;
    .pending {
      height: 400px;
      width: 49%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        color: #000;
        font-size: 20px;
        font-weight: 500;
        opacity: 0.4;
      }
      .pending_tasks {
        .pend_task {
          margin: 10px 0;
          height: fit-content;
          display: flex;
          align-items: center;
          gap: 20px;
          label {
            color: #000;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
      .add_task{
        border-bottom: 1px solid #0000008f;
      }
    }
    .line {
      width: 1px;
      height: 300px;
      background-color: #0000008f;
    }
    .completed {
      width: 49%;
      padding: 20px;
      h3 {
        color: #000000;
        font-size: 20px;
        font-weight: 500;
        opacity: 0.4;
      }
      .completed_tasks{
        .comp_task {
          margin: 10px 0;
          height: fit-content;
          display: flex;
          align-items: center;
          gap: 20px;
          label {
            color: #000;
            font-size: 20px;
            font-weight: 500;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
