.wrapper {

    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  h3 {
    color: var(--primary-text);
    font-size: 50px;
    font-weight: 700;
  }
}
