.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .task_buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .new_list {
      display: flex;
      padding: 10px;
      gap: 15px;
      color: var(--primary-text);
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
