.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("/images/login_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.herosection{
    width: 60%;
    height: 100%;
    float: left;
    padding: 40px;
}
.loginsection{
    width: 35%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
}
.lor{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

// .lor img{
//     padding: 10%;
// }


.logincontent {
    display: flex;
    flex-direction: column ;
    // justify-content: center;
    // align-self: center;
    // align-items: center;
    
}


.wlcm{
    font-size: 2.5em;
    font-weight: 300;
    align-self: center;
}
.wlcm2{
    font-size: 1em; 
    align-self: center;

}

.txt{
    display: flex;
    align-self: center;
    flex-direction: column;
    // padding: 10px;
    margin-top: 20px;
    font-size: large;
}
.txt p{
    padding: 20px;
}
.txt input{
    width:  500px;
    height: 100%;
    padding: 10px; 
    margin: 20px;
    outline: 0;
    border-width:0 0 2px;
    // border-color:rgb(168, 167, 167) ;
    border-color: black;
    // border-style: solid;
    background-color: white;
    color: rgb(128, 128, 128);

}
.txt input:hover{
    border-color: black;
    color: black;
}
.reem{
    display: flex;
    flex-direction: column  ;
    justify-self: center;
    align-self: center;
    // padding: 40px;
    font-size: large;
}
.Reem{
    display: flex;
    padding-bottom: 30px;
}
.dont{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self :center;
    padding-top: 70px;
    font-size: large;
    a{
        text-decoration: underline;
        font-weight: 600;
        margin-left: 10px;
    }
}
.login{
    padding:50px;
    justify-self: flex-start;
    align-self: flex-start;
}
.button{
    width:500px;
    border-radius: 40px ;
    background-color: black;
    font-size: large;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        background-color: rgb(27, 27, 27);
        color: white;
    }
}
